.DS_Store
node_modules/
npm-debug.log
yarn-error.log

# Gulp generated directory and archive
# containing compiled source code for Chrome extension
dist/
dist.zip

# webpack bundled Vue.js app
bundle.js*

# Secrets needed to configure the app
oauth_client_id.json
webstore_key.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Personal stuff
private/
